:root {
    --orange: #F15A22;
    --shadowOrange: #ECB8A2;
    --navy: #193661;
    --shadowNavy: #96AABB;
    --lightBlue: #EAF7F6;
    --lightGray: #E0E4E6;
}

*, *:before, *:after { 
    -ms-box-sizing:border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

html {
    overflow-x: hidden;
}

.paper {
    width: 99vw !important;
    height: 100vh !important;
    position: relative;
    padding: 5vh 5vw;
    box-shadow: none !important;
    border-radius: 0 !important;
  }

.images {
    width: 100%;
}

.box-vert-mid{
    display: flex;
    align-items: center;
}

.flex-end{
    display: flex;
    justify-content: flex-end;

    &.column{
        flex-direction: column;
    }
    & a{
        color: var(--lightBlue) !important;
    }
}

.outline-header {
    font-size: 7em !important;
    padding: 2vh;
    font-weight: 900 !important;
    -webkit-text-stroke: 4px var(--lightBlue);
    color: var(--navy);
    font-family: unset !important;
}

.svg-container {
    width: 20%;
    height: auto;

    & svg { 
        width: 100%;
        height: 100%;
        & path {
            fill: var(--orange);
        }
    }
}

///////////////////////

 .simple-header {
    font-size: 3em !important;
    font-weight: bold !important;
    padding: 2vh;

    &.big {
        font-size: 4.5em !important;
    }
 }

 .simple-body {
    font-size: 1.5em !important;
    text-shadow: var(--navy);
    padding: 2vh;
 }


 //////////////////////
 
 .client-box {
    border-radius: 7px !important;
    background: var(--lightBlue);
    padding: 5px;

    &.b0{
        box-shadow: -7px 7px var(--lightGray) !important;
    }

    &.b1{
        box-shadow: 7px -7px var(--lightGray) !important;
    }

    &.b2{
        box-shadow: -7px -7px var(--lightGray) !important;
    }

}


 .client-image{
    width: 124px;
    height: 124px;
    border-radius: 50%;
    overflow: hidden;

    &.images{
        border-radius: 50%;
    }
 }

 //////////////////////

 .contact-us-box-cotainer{
    position: absolute;
    bottom: 10vh;
    right: 2vw;
    width: 90% !important;
    color: var(--lightBlue);
 }

 .contact-us-bug{
    position: absolute;
    width: 30vw;
    right: -10vw;
    top: -13vh;
    rotate: 228deg;
    z-index: 1;
    opacity: 80%;
 }