:root {
    --orange: #F15A22;
    --shadowOrang: #ECB8A2;
    --navy: #193661;
    --lightBlue: #EAF7F6;
    --lightGray: #E0E4E6;
}

*, *:before, *:after { 
    -ms-box-sizing:border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

html {
    overflow-x: hidden;
}

.paper {
    width: 99vw !important;
    height: 100vh !important;
    padding: 5vh 5vw;
  }

.images {
    width: 100%;
}

.box-vert-mid{
    display: flex;
    align-items: center;
}

.outline-header {
    font-size: 9em;
    padding: 2vh;
    font-weight: 900;
    -webkit-text-stroke: 4px var(--lightBlue);
    color: var(--navy);
    font-family: unset;
}

///////////////////////

 .simple-box-header {
    font-size: 42pt !important;
    font-weight: bold !important;
    color: var(--orange);
    text-shadow: 2px 2px var(--shadowOrang);
    padding: 2vh;
 }

 .simple-body {
    font-size: 18pt !important;
    text-shadow: var(--navy);
    padding: 2vh;
 }